/* Minimal reset */
html {
  font-size: 16px; /* base font size */
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  color-scheme: light dark; 
}

body {
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
}

:root {
  color-scheme: light dark;
  --bg-color: white;
}
@media (prefers-color-scheme: light) {
  :root {
    --text-color: black;
    --link-color: #0066cc;
    --form-bg: white;
    --form-border: 1px solid black;
    --input-bg: white;
    --input-color: black;
    --submit-bg: #52b457;
    --submit-bg-hover: #45a049;
  }
  h1 + button::after{
    content: "🌞";
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white;
    --link-color: #3399ff;
    --form-bg: #242629;
    --form-border: none;
    --input-bg: #3d4046;
    --input-color: white;
    --submit-bg: #5bc85b;
    --submit-bg-hover: #4fb14f;
  }
  h1 + button::after{
    content: "🌜";
  }
}

a {
  color: var(--link-color);
  text-decoration: none;
  font-size: 1.4rem;
}

a:hover {
  text-decoration: underline;
}

header {
  max-width: 500px;
  margin: auto;
  height: auto;
  overflow: auto;
}
h1 {
  color: black;
}
h1:has(+ button){
  width: 75%;
  float: left;
}
h1 + button{
  float: right;
  font-size: 5rem;
  background-color: transparent !important;
  border: none;
  background: none;
  cursor: pointer;
  text-align: right;
  padding: 0;  
  margin: 0.67rem 0;
}

form {
  background-color: var(--form-bg);
  color: var(--text-color);
  border: var(--form-border);
  max-width: 500px;
  margin: auto;
  padding: 20px 0;
  border-radius: 8px;
}

form > *{
  margin: 0 20px;
}

form > input,
form > select,
form > datalist,
form > textarea{
  width: calc(100% - 40px);
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 1px;
  margin: 0px 20px 10px;
  background-color: var(--input-bg);
  color: var(--input-color);
}

form > fieldset{
  margin: 0 20px 10px;
}
form > *:first-child {
  margin-top: 20px;
}
form > *:last-child{
  margin-bottom: 20px;
}

input[type="checkbox"] {
  width: auto;
}

input:hover,
#toggleTheme:hover {
  cursor: pointer;
  text-align: center;
}

form > input[type="submit"] {
  color: white;
  background-color: var(--submit-bg);
  border: none;
  cursor: pointer;
}

form > input[type="submit"]:hover {
  background-color: var(--submit-bg-hover);
}
