/* Minimalny reset  */
html {
  font-size: 16px; /* bazowy rozmiar czcionki */
  font-family: system-ui, sans-serif; /* font systemowy */
  line-height: 1.5; /* lepsza czytelność */
}

body {
  margin: 1rem;
  padding: 0;
  background-color: var(--background-color);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  gap: 1rem ;
  overflow-x: hidden;
}

a {
  color: #0066cc; /* niebieski kolor linków */
  text-decoration: none; /* bez podkreślenia */
  font-size: 1.4rem;
}

a:hover {
  text-decoration: underline; /* podkreślenie przy najechaniu */
}

:root {
  --background-color: #dad3d3;
  --main-color: rgb(33, 70, 218);
  --border-radius: 8px;
  --border-black: 2px solid black;
  --image: url('../images/polo_b.png');
  :has(input[id="green"]:checked){
    --main-color: green;
    --image: url('../images/polo_g.png');
  }
  :has(input[id="red"]:checked){
    --main-color: rgb(203, 10, 10);
    --image: url('../images/polo_r.png');
  }
  :has(input[id="yellow"]:checked){
    --main-color: rgb(219, 151, 2);
    --image: url('../images/polo_y.png');
  }
}

picture {
  width: 500px;
  aspect-ratio: 1/1;
  border: 2px solid var(--main-color);
  border-radius: var(--border-radius);
  background-image: var(--image);
  background-size: cover;
}

main{
  width: 300px;
  padding: 1rem 0rem;
  width: auto;
}
form>input[name="size"]{
  visibility: hidden;
  width: 0;
} 
form>label{
  width: 2rem;
  text-align: center;
  padding: 1rem;
  background-color: var(--background-color);
  border: var(--border-black);
  border-radius: var(--border-radius);
  font-weight: bold;
}
form:has(label){
  height: 1rem;
  margin: 2rem 0 1.9rem;
}
form>input[name="size"]:checked + label,label:hover{
  cursor: pointer;
  background-color: var(--main-color);
  color: var(--background-color);
}
form>input[name="color"]{
  appearance: none;
  width: 2rem;
  height: 2rem;
  border: var(--border-black);
  border-radius: 50%;
  margin-right: 0.5rem;
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  padding: 0;
}
form > input#blue   { background-color: rgb(33, 70, 218);   }
form > input#green  { background-color: green;  }
form > input#red    { background-color: red;    }
form > input#yellow { background-color: yellow; }

form > input[name="color"]:checked
{
  transform: scale(0.7);
  box-shadow: 0 0 0 3px var(--background-color);
  border: none;
  outline: 3px solid black;
  outline-offset: max(2px, 0.25rem);
}
.promotion{
  background-color: var(--main-color);
  border-radius: var(--border-radius);
  color: var(--background-color);
  font-weight: bold;
  text-align: center;
}
header{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
#nazwa, .promotion{
  flex: 1;
  flex-grow: 1;
}
.promotion{
  flex-grow: 0.5;
  padding: 0.5rem;
}
#nazwa{
  flex-grow: 1.5;
}
button{
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  border: var(--border-black);
  background-color: var(--main-color);
  color: var(--background-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  display: block;
  margin: 1rem auto 0;
}
#cena{
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}
form{
 text-align: center;
}