/* Reset stylów */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
}
main, aside {
  h1, h2, h3, p {
    margin-bottom: 1rem;
    line-height: 1.5;
  }
}
.container{
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "aside"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto auto;
  grid-gap: 0rem;
}
/* mobilka */
header {
  align-items: center;
  flex-flow: row;
  display: flex;
  grid-area: header;
  background-color: orange;
  color: white;
  text-align: left;
  .logo {
    font-size: 1rem;
    font-weight: bold;
    background: white;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }
  .logo::before{
    content:"logo";
    color: black;
    font-size: 1.5rem;
    justify-content: center;
  }
}
nav {
  text-align: center;
  grid-area: nav;
  background-color: lightskyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 0;
}
nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}
aside {
  grid-area: aside;
  background-color: lightgreen;
  padding-left: 1rem;
  span{
    font-weight: bold;
    font-size: 5rem;
  }
  div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }
}
main {
  padding: 1rem;
  grid-area: main;
}
footer {
  display: flex;
  justify-content: center;
  color: white;
  background-color: green;
  grid-area: footer;
}
@media (min-width: 1024px) {
  .container {
    grid-template-areas:
      "header header header"
      "nav nav nav"
      "main main aside"
      "footer footer footer";
    grid-template-columns: 1fr 1fr 0.61fr;
    grid-template-rows: auto auto 1fr auto;
    grid-gap: 0rem;
  }
  nav{
    padding: 1rem;
    justify-content: flex-start;
  }
}
@media (min-width: 1200px) {
  .container{
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 8px 24px rgba(0,0,0,0.16);
  }
}